<div class="resourvce-sec-title">
        <div class="container-inner">
            <h4>Helpful Resources</h4>
        </div>
</div>
<div  class="resource-div " fxLayout="row" fxLayout.xs="column"  >
        <div class="container-inner" fxLayout="row" fxLayout.xs="column">
                <div class="resourcelist-main" fxFlex="1 1 100%" fxLayoutGap="1.33%" fxLayoutAlign="space-between" fxLayout.sm="column" fxLayout.xs="column" fxLayout="row">
                        <div fxFlex="32%" class="article-col" fxFlex.sm="49%" fxFlex.xs="100%">
                                <mat-card class="article"  >
                                    <mat-card-title fxLayout.gt-xs="column" fxLayout.xs="column">
                                        <span fxFlex="100%">Article</span>
                                        <p fxFlex="100%">Managing Yourself : Bringing out the best in your people</p>
                                        
                                    </mat-card-title>
                                    <div class="desc" fxLayout="row" fxLayout.md="column" >
                                            <span fxFlex="50%"  fxFlex.md="40%" >25k PDF</span>
                                            <button fxFlex="50%" fxFlex.md="60%"  mat-button class="berk-btn download">Download </button>
                                    </div>
                                </mat-card>
                        </div>
                        <div fxFlex="32%" class="article-col" fxFlex.sm="49%" fxFlex.xs="100%">
                                <mat-card class="article" >
                                        <mat-card-title fxLayout.gt-xs="column" fxLayout.xs="column">
                                            <span fxFlex="100%" fxLayout="row">Article</span>
                                            <p fxFlex="100%" fxLayout="row">Managing Yourself : Bringing out the best in your people</p>
                                            
                                        </mat-card-title>
                                        <div class="desc" fxLayout="row" fxLayout.md="column" >
                                                <span fxFlex="50%" fxFlex.md="40%">External Site</span>
                                                <button fxFlex="50%" fxFlex.md="60%" mat-button class="berk-btn download">Download </button>
                                        </div>
                                </mat-card>
                        </div>
                        <div fxFlex="32%" class="article-col" fxFlex.sm="49%" fxFlex.xs="100%">
                                <mat-card class="article" >
                                        <mat-card-title fxLayout.gt-xs="column" fxLayout.xs="column">
                                            <span fxFlex="100%">Article</span>
                                            <p fxFlex="100%">Managing Yourself : Bringing out the best in your people</p>
                                            
                                        </mat-card-title>
                                        <div class="desc" fxLayout="row" fxLayout.md="column" >
                                                <span fxFlex="50%" fxFlex.md="40%">25k PDF</span>
                                                <button fxFlex="50%" fxFlex.md="60%" mat-button class="berk-btn download">Download </button>
                                        </div>
                                </mat-card>
                        </div>
                </div>
        </div>
</div>
