<div class="sidebar-nav" fxLayout="column" fxLayout.xs="column">
    <div class="side-logo" fxFlex="100%" fxLayoutAlign="center">
        <img src="assets/logo.png" alt="bts-img">
    </div>
    <div class="user-sec" fxFlex="100%" fxLayout="column" fxLayoutAlign="center">
        <img src="assets/user.png" alt="bts-img">
        <h4>Jessica Helcomb</h4>
        <span>Team Hogwarts</span>
    </div>
    <div class="admin-text" fxFlex="100%" fxLayout="column" fxLayoutAlign="center">
        <ul class="text-list" fxLayout="column">
            <li fxFlex="100%" class="active"><a href=""><i class="material-icons">
                    format_list_bulleted
                    </i> Home</a></li>
            <li fxFlex="100%"><a href=""><i class="material-icons">
                    dashboard
                    </i>Activities</a></li>
            <li fxFlex="100%"><a href=""><i class="material-icons">
                    build
                    </i>Actions</a></li>
            <li fxFlex="100%"><a href=""><i class="material-icons">
                    notifications
                    </i> Notifications</a></li>
            <li fxFlex="100%"><a href=""><i class="material-icons">
                    library_books
                    </i> Resources</a></li>
            <li fxFlex="100%"><a href=""><i class="material-icons">
                    contact_support
                    </i> Resources</a></li>

                    

        </ul>
    </div>

</div>
